{% extends "base.html" %}

{% block conteudo %}

<h3 class="mb-4">🔑 Login</h3>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input
            type="email"
            name="email"
            class="form-control"
            required>
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input
            type="password"
            name="senha"
            class="form-control"
            required>
    </div>

    <button class="btn btn-primary">
        Entrar
    </button>

    <a href="/cadastro" class="btn btn-secondary">
        Criar conta
    </a>

</form>

{% endblock %}