{% extends "base.html" %}

{% block conteudo %}

<h3 class="mb-4">📝 Notas</h3>

<div class="card">

    <div class="card-header bg-primary text-white">
        Categorias
    </div>

    <div class="card-body p-0">

        {% for categoria in categorias %}

        <a href="/categoria/{{ categoria[0] }}"
           class="text-decoration-none text-dark">

            <div class="border-bottom py-3 px-4 fs-5">

                📁 <strong>{{ categoria[0] }}</strong>
                <span class="text-secondary">
                    ({{ categoria[1] }})
                </span>

            </div>

        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}