{% extends "base.html" %}

{% block conteudo %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h3 class="mb-0">
    {{ titulo_pagina if titulo_pagina else "📝 Notas" }}
</h3>

    <a href="{{ url_for('notas_por_categoria') }}"
       class="btn btn-outline-primary">
        📁 Ver por categorias
    </a>

</div>

<div class="card">

    <div class="card-body p-0">

        {% if notas %}

            {% for nota in notas %}

                <a href="{{ url_for('ver_nota', id=nota[0]) }}"
                   class="text-decoration-none">

                    <div class="border-bottom py-1 px-4 fs-5">

                        📄 {{ nota[1] }}

                    </div>

                </a>

            {% endfor %}

        {% else %}

            <div class="py-4 px-4 text-secondary">
                Nenhuma nota encontrada.
            </div>

        {% endif %}

    </div>

</div>

{% endblock %}